body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #fbc32c;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  color: black;
  background-color: #faf5e6;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #102229
}

.liens_en_bas {
  margin-bottom: 10px;
  cursor: pointer;
}

.nav{
  background-color: #246d29;
  color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  width: 200px;
  transform: skewX(-15deg);
  cursor: pointer;
  box-shadow: 5px 5px 0px black;
  margin-right: 10px;

}

button:hover{
  background-color: gray;
  color: #f6f2e2;
}